<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-title>notification</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="containt">

    <div class="listNotifs">

      <div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div>
      <div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div><div class="notif">

        <div class="profilInfos">

          <div class="nameTof">

            <img src="assets/images/moi.jpg" alt="">
            <label for="">Ballo Ibrahima</label>

          </div>

          <div class="notifTitle">
            <label for="">Titre notification</label>
            <div class="timeInfos">
              <label for="">Il ya 2 mois</label>

            </div>
          </div>

        </div>



        <div class="publicInfos">
          <img src="assets/images/moi.jpg" alt="">
        </div>

      </div>

    </div>

  </div>

</ion-content>
