<!--<ion-header>
  <ion-toolbar>
    <ion-title>home2</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="containt">

    <label for="">Centres d'intérêts</label>

    <div class="interets">

      <label for="">
        Quelles problematiques vous interesse  ?
      </label>
      <div class="listInterets">


        <ion-card (click)="check(i)" class="card{{i}}" *ngFor="let prob of problematiques ;let i =index;">
          <ion-card-header>
            <ion-card-subtitle>{{prob.libelle}}</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card{{i}}" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>


        <!-- <ion-card (click)="check(1)" class="card1">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card1" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>

        <ion-card (click)="check(1)" class="card1">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card1" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>

        <ion-card (click)="check(1)" class="card1">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card1" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>

        <ion-card (click)="check(1)" class="card1">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card1" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>

        <ion-card (click)="check(1)" class="card1">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card1" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>

        <ion-card (click)="check(1)" class="card1">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card1" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>

        <ion-card (click)="check(1)" class="card1">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card1" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>

        <ion-card (click)="check(1)" class="card1">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>



          <ion-item class="d-none">
            <ion-checkbox id="card1" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card> -->

      </div>

      <div class="points">
        <p>
          <label id="firstpoint" for="">
            .
          </label>
          <label id="secaindpoint" for="">
            .
          </label>
          <label id="lastpoint" for="">
            .
          </label>
        </p>
      </div>

      <ion-button class="continues" (click)="goToNextPage()"  >
        Continuer
      </ion-button>
    </div>
  </div>
</ion-content>
