.containt{
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  // grid-template-rows: 50% 50%;
  color: black;
  font-family : 'Itim', cursif !important;
}

.entete{
  height: 110px;
  position: fixed;
  width: 100%;
  display: grid;
  z-index: 1000;
  grid-template-columns: 60% 40%;
}

.profilInfos{
  background-color: #fff;
  display: grid;
  color: #fff;
  grid-template-rows: 30% 70%;
  border-bottom-right-radius: 45px;
  box-shadow: 4px 1px 1px rgba(0, 0, 0, 0.513);
}

.nbre{
  display: grid;
  grid-template-rows: 40% 30% 30%;
}

.shadow{
  border-bottom-left-radius: 30px;
  margin-left: -20px;
  background-color: #fff;
}

.nbreContenu{
  display: flex;
  background-color: #008000;
}

#textConseil{
  display: flex;
  font-size: 5vw;
  justify-content: center;
  color: #fff;
  margin: auto;
}

.profilContenu{
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 6%;
  color: #000;

}
.image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.image >img{
  margin: auto;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
}

.infosProfil{
  margin: auto;
  margin-left: 10px;
}

.infosProfil > #nomComplet{
  display: flex;
  justify-content: center;
  font-size: 5vw;
  margin: 0;

}

.infosProfil > #username{
  font-size: 4.5vw;
  margin: 0;
}

//////////
#labelListPreference{
  margin-top: 120px;
  font-size: 6vw;
  display: flex;
  justify-content: center;
}

#labelListPreference1{
  margin-top: 3vw;
  display: flex;
  justify-content: center;
}

.listPreference{
  height: 32vh;
  margin-top: 5px;
  //display: flex;
  //flex-direction: column;
  //overflow-y: scroll;
  //overflow-x:hidden ;
  // background-color: #fff;
  scroll-behavior: smooth;
}

.list{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 50px;
}

//

///liste jeu
.listjeux{
  max-height: 50vh;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  overflow-y: scroll;
  overflow-x:hidden ;
  scroll-behavior: smooth;

}
.listjeux >.jeu{
  display: grid;
  grid-template-rows: 20% 80%;
  width: 42%;
  padding: initial;
  /* margin-left: 10px; */
  margin: 4%;
  // margin-bottom: 10px;
}

.secaind{
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: #D9D9D9;
  padding: 5px;
  padding-bottom: 20%;
  border-radius: 10px;
}
.secaind >img{
  height: 80px;
  width: 90px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -35px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px -2px 6px 0px rgb(0 0 0 / 50%);

}
.infos >div{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#NomJeu{
  font-size: 6vw;
  display: flex;
  justify-content: center;
}

.play{
  color: white ;
  background:#008000;
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 6vw;
}
///
///

///
///
/// Partie preference
.preference{
  display: grid;
  grid-template-rows: 70% 30%;
  background-color: #fff;
  height: 30vh;
  padding: 15px;
  border-radius: 20px;
  width: 90%;
}

.imageEntete >img{
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

//////partie game
.game{
  height: 55px;
  border-radius: 10px;
  margin: 5px 1%;
  width: 98%;
  display: grid;
  grid-template-columns: 29% 40% 29%;
}
.imageGame{
  margin: auto;
}

.game >.imageGame >img{
  border-radius: 20px;
  height: 7.5vh;
  width: 35vw;
  object-fit: cover;
}

.infosPlay{
  display: grid;
  grid-auto-flow: 20% 40% 40%;
}

#likePlay{
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
}

#likePlay >button{
  font-size: 9px;
  padding: 1%;
  margin: 1px;
  border-radius: 5px;
  background-color: #ffffff;
}
#likePlay  >.liked{
  color: #000;

  border:1px solid#3779FF ;
}
#likePlay  >.liked> i{
  color: #3779FF;
}
#likePlay  >.played{
  color: #000;
  border:1px solid#BB7676 ;
}
#likePlay  >.played> i{
  color: #BB7676;
}

.nomGame >label{
  font-size: 5.5vw;
  margin: 0;
}
/////
///
.btnPlay{
  display: flex;
  justify-content: center;
  align-items: end;
}
#goPlay{
  display: flex;
  align-items: end;
  background-color: #D9D9D9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 15px;
  padding: 5px;
  color: #fff;
  font-size: 6vw;
  align-items: center;
}
////

////animation

