<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jeux
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="containt">
    <div class="entete">

      <div class="profilInfos">
        <div></div>
        <div class="profilContenu">
          <div class="image">
            <img src="assets/images/moi.jpg" alt="">
          </div>

          <div class="infosProfil">
            <label for="" id="nomComplet">Ballo Ibrahima</label>
            <label for="" id="username">@lloba</label>
          </div>
        </div>
      </div>


      <div class="nbre">
        <div  class="shadow"></div>

        <div class="nbreContenu">

          <label for="" id="textConseil" >20 Jeux joues</label>

        </div>
        <div></div>

      </div>

    </div>

    <label for="" id="labelListPreference">Mes Preferences</label>

    <div class="listPreference">

    </div>

    <div class="list">
      <label for="" id="labelListPreference1">Les + Populaires</label>

      <div class="listjeux">
        <div class="jeu">
          <div>
          </div>

          <div class="secaind">
            <img src="assets/images/moi.jpg" alt="">

            <div class="infos">
              <div>
                <label for="" id="NomJeu">
                  NomJeu
                </label>
                <div id="likePlay">
                  <button class="liked">
                    2500
                    <i class="fa-solid fa-thumbs-up"></i>
                  </button>

                  <button class="played">
                    500
                    <i class="fa-sharp fa-solid fa-circle-play"></i>
                  </button>
                </div>

                <button class="play"  >
                  Jouer
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="jeu">
          <div>
          </div>

          <div class="secaind">
            <img src="assets/images/moi.jpg" alt="">

            <div class="infos">
              <div>
                <label for="" id="NomJeu">
                  NomJeu
                </label>
                <div id="likePlay">
                  <button class="liked">
                    2500
                    <i class="fa-solid fa-thumbs-up"></i>
                  </button>

                  <button class="played">
                    500
                    <i class="fa-sharp fa-solid fa-circle-play"></i>
                  </button>
                </div>

                <button class="play"  >
                  Jouer
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="jeu">
          <div>
          </div>

          <div class="secaind">
            <img src="assets/images/moi.jpg" alt="">

            <div class="infos">
              <div>
                <label for="" id="NomJeu">
                  NomJeu
                </label>
                <div id="likePlay">
                  <button class="liked">
                    2500
                    <i class="fa-solid fa-thumbs-up"></i>
                  </button>

                  <button class="played">
                    500
                    <i class="fa-sharp fa-solid fa-circle-play"></i>
                  </button>
                </div>

                <button class="play"  >
                  Jouer
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="jeu">
          <div>
          </div>

          <div class="secaind">
            <img src="assets/images/moi.jpg" alt="">

            <div class="infos">
              <div>
                <label for="" id="NomJeu">
                  NomJeu
                </label>
                <div id="likePlay">
                  <button class="liked">
                    2500
                    <i class="fa-solid fa-thumbs-up"></i>
                  </button>

                  <button class="played">
                    500
                    <i class="fa-sharp fa-solid fa-circle-play"></i>
                  </button>
                </div>

                <button class="play"  >
                  Jouer
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="jeu">
          <div>
          </div>

          <div class="secaind">
            <img src="assets/images/moi.jpg" alt="">

            <div class="infos">
              <div>
                <label for="" id="NomJeu">
                  NomJeu
                </label>
                <div id="likePlay">
                  <button class="liked">
                    2500
                    <i class="fa-solid fa-thumbs-up"></i>
                  </button>

                  <button class="played">
                    500
                    <i class="fa-sharp fa-solid fa-circle-play"></i>
                  </button>
                </div>

                <button class="play" routerLink="/game1" >
                  Jouer
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</ion-content>
