<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acceuil</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <div class="content">
      <div></div>
      <div class="firstpart">

        <div class="firstdiv">
          <div class="profil">
            <div class="photoContainer">
              <div class="whithborder" >
                <img src="{{citoyen.photo}}" class="photo" alt="">

              </div>

            </div>

            <div class="nomComplet">
              <label for="" id="nomComplet">{{citoyen.nom}}</label>
            </div>

            <div class="username">
              <label for="" id="username" >@{{citoyen.username}}</label>

            </div>

          </div>

          <div class="news">
            <label for="">Les nouveautes</label>

            <div class="listNews">

              <div class="new" *ngFor="let last of lastGames" [routerLink]="['/game1',last.id]" >
                <img src="{{last.image}}" alt="">
                <div class="desc">
                  <label for="" id="titleJeu">{{last.nom}}</label>
                  <label for="" id="descJeu">
                    {{ last.description | slice:0:70 }}...

                  </label>

                  <div id="likePlay">
                    <button class="liked">
                      {{last.nbreLike}}
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      {{last.nbreJoues}}
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>


                </div>
              </div>

              <div class="new">

              </div><div class="new">

              </div><div class="new">

              </div><div class="new">

              </div><div class="new">

              </div>

            </div>
          </div>

        </div>
        <div class="secainddiv">


          <div class="avecbg">

          </div>

          <div class="sansbg">

          </div>
        </div>

      </div>

      <div class="secaindpart">
        <div class="listinteret">
          <label for="" id="bibli">Bibliotheque des jeux</label>

          <div class="listinte">
            <div class="elemt all select" (click)="change('all',null)" [ngStyle]="{'background-color':'#BB7676'}" >
              <label for=""  ><i style="color: aliceblue;" class="fa-solid fa-shop"></i></label>
            </div>

            <div class="elemt cl{{p.id}}"  *ngFor="let p of problematiques" [ngStyle]="{'background-color':p.couleur}" (click)="change(p.libelle,p.id)">
              <label for=""  >{{p.libelle}}</label>
            </div>



          </div>
        </div>

        <div class="listjeux">
          <div class="jeu" *ngFor="let jeu of listGame" [routerLink]="['/game1',jeu.id]"  >
            <div>
            </div>

            <div class="secaind">
              <img src="{{jeu.image}}" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    {{jeu.nom| slice:0:18 }}...
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      {{jeu.nbreLike}}
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      {{jeu.nbreJoues}}
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play"  >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play"  >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play"  >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play"  >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play" routerLink="/game1" >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </ion-content>


</ion-content>
