.content{
  display: grid;
  height: 100%;
  padding: 5%;
  background-color: #ffffff;
  grid-template-rows:5% 45% 55%;
  color: #000;
  font-family : 'Itim', cursif !important;
}

.firstpart{
  display: grid;
  height: 100%;
  grid-template-rows: 90% 10%;
}

.firstdiv{
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: #D9D9D9;
  display: grid;
  grid-template-rows:30% 70% ;
}

.profil{
  margin-top: 4%;
  display: grid;
  grid-template-rows: 60% 40%;
}
.nomComplet{
  margin: 0 10%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  display: flex;
  font-size: 5vw;
  justify-content: center;
}
#nomComplet{
  display: flex;
  justify-content: center;
  margin: auto;
}

.username{
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #3779FF;
  margin: 0px 25% 2% 40px;
  display: flex;

  justify-content: center;
}

#username{
  display: flex;
  font-size: 5vw;
  justify-content: center;
  margin: auto;
  color: #ffffff;
}
.news{
  //margin-top: 2%;
  //height: 20vh;
  display: grid;
  grid-template-rows: 15% 20vh;
}

.news label{
  display: flex;
  justify-content: center;
}

.photoContainer{
  position: absolute;
  float: left;
  border: 4px solid #ffffff;
  border-radius: 50%;
  margin-left: 5%;
}
.whithborder{
  border: 2px solid #053B7A;
  border-radius: 50%;
}

.photo{
  height: 50px;
  width: 50px;
  object-fit: cover;
  background-color: #D9D9D9;
  border: 2px solid #ffffff;

  border-radius: 50%;
}

.secainddiv{
  display: grid;
  grid-template-columns: 75%  20%;
}

.avecbg{
  background-color: #D9D9D9;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 30px;
}

@media only screen and (max-width: 480px) and (min-width: 328px)  {
  .photo{
    height: 80px;
    width: 80px;
  }
}

///list des nouveautes
.listNews{
  flex-wrap: nowrap;
  display: -webkit-inline-box;
  overflow-y: unset;
  overflow-x:scroll;
  height: 20vh;
  scroll-behavior: smooth;
}

.new{
  //width: 200px;
  width: 80%;
  //height: 85%;
  background-color: rgb(255, 255, 255);
  margin: 1% 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
}

.new img{
  border-radius: 15px;
  padding: 5px;
  object-fit: cover;
  width: 100%;
  height: 19vh;
  margin: auto;
}

.new >.desc{

  padding: 5px;
  display: grid;
  grid-template-rows: 20% 60% 15%;
}

.desc >#titleJeu{
  font-size: 5.5vw;
  justify-content: left;
}

.desc >#descJeu{
  font-size: 3.5vw;
  color: #0000005b;
  display: flex;
  flex-direction: column;
}
#likePlay{
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
}

#likePlay >button{
  font-size: 9px;
  padding: 5%;
  border-radius: 5px;
  background-color: #ffffff;
}
#likePlay  >.liked{
  color: #000;
  border:1px solid#3779FF ;
}
#likePlay  >.liked> i{
  color: #3779FF;
}
#likePlay  >.played{
  color: #000;
  border:1px solid#BB7676 ;
}
#likePlay  >.played> i{
  color: #BB7676;
}
/////
#bibli{
  font-size: 5vw;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

///////
///////secaindpart
.secaindpart{
  margin-top: 2%;
  display: grid;
  width: 100%;
  grid-template-rows: 22% 78%;
}
.listinteret{
  display: grid;
  grid-template-rows: 50% 50%;
}
.listinte{
  width: 100%;
  height: 5vh;
  display: -webkit-inline-box;
  overflow-y: unset;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.listinte >.elemt{
  border-radius: 10px;
  width: auto;
  margin-left: 5px;
  width: auto;
  display: flex;
  justify-content: center;
}
.select > label{
  background-color: #0080007a;
}
.listinte >.elemt >label{
  padding: 2vw;
  /* border-radius: 50%; */
  font-size: 4.5vw;
  text-align: center;
  height: 100%;
  color: #ffffff;
  border-radius: 10px;
  margin: auto;
  justify-content: center;
  display: flex;

  i{
    margin: auto;
  }
}
///liste jeu
.listjeux{
  margin-top: 10px;
  display: -webkit-inline-box;
  overflow-y: unset;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.listjeux >.jeu{
  display: grid;
  grid-template-rows: 20% 80%;
  width: 45%;
  height: 80%;
  margin-left: 10px;
  font-size: 10vw;
}

.secaind{
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: #D9D9D9;
  padding: 5px;
  padding-bottom: 10%;
  border-radius: 10px;
}
.secaind >img{
  height: 80px;
  width: 90px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -35px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px -2px 6px 0px rgb(0 0 0 / 50%);

}
.infos >div{
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#NomJeu{
  font-size: 4vw;
  text-align: center;
  display: flex;
  text-overflow: ellipsis;
  justify-content: center;
  line-break: anywhere;
}

.play{
  color: white ;
  background:#008000;
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 6vw;
}

