<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acceuil</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <div class="content">
      <div></div>
      <div class="firstpart">

        <div class="firstdiv">
          <div class="profil">
            <div class="photoContainer">
              <div class="whithborder">
                <img src="assets/images/moi.jpg" class="photo" alt="">

              </div>

            </div>

            <div class="nomComplet">
              <label for="" id="nomComplet">Ballo ibrahima</label>
            </div>

            <div class="username">
              <label for="" id="username" >@lloba</label>

            </div>

          </div>

          <div class="news">
            <label for="">Les nouveautes</label>

            <div class="listNews">

              <div class="new">
                <img src="assets/images/moi.jpg" alt="">
                <div class="desc">
                  <label for="" id="titleJeu">Game Nom</label>
                  <label for="" id="descJeu">
                    lorem ipsu lorem ipsu lorem ipsulorem ipsulorem ipsulorem ipsulorem ipsulorem ipsululorem i

                  </label>

                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>


                </div>
              </div>

              <div class="new">

              </div><div class="new">

              </div><div class="new">

              </div><div class="new">

              </div><div class="new">

              </div>

            </div>
          </div>

        </div>
        <div class="secainddiv">


          <div class="avecbg">

          </div>

          <div class="sansbg">

          </div>
        </div>

      </div>

      <div class="secaindpart">
        <div class="listinteret">
          <label for="" id="bibli">Bibliotheque des jeux</label>

          <div class="listinte">
            <div class="elemt select" (click)="change('all')" [ngStyle]="{'background-color':'#BB7676'}" >
              <label for=""  ><i style="color: aliceblue;" class="fa-solid fa-shop"></i></label>
            </div>

            <div class="elemt"  *ngFor="let p of problematiques" [ngStyle]="{'background-color':p.couleur}" (click)="change(p.libelle)">
              <label for=""  >{{p.libelle}}</label>
            </div>


          </div>
        </div>

        <div class="listjeux">
          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play"  >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play"  >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play"  >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play"  >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="jeu">
            <div>
            </div>

            <div class="secaind">
              <img src="assets/images/moi.jpg" alt="">

              <div class="infos">
                <div>
                  <label for="" id="NomJeu">
                    NomJeu
                  </label>
                  <div id="likePlay">
                    <button class="liked">
                      2500
                      <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button class="played">
                      500
                      <i class="fa-sharp fa-solid fa-circle-play"></i>
                    </button>
                  </div>

                  <button class="play" routerLink="/game1" >
                    Jouer
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </ion-content>


</ion-content>
