<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acceuil</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <div class="content">
      <div class="firstpart">

        <div class="firstdiv">
          <div class="profil">
            <div class="photoContainer">
              <div class="whithborder">
                <img src="assets/images/moi.jpg" class="photo" alt="">

              </div>

            </div>

            <div class="nomComplet">
              <label for="" id="nomComplet">Ballo ibrahima</label>
            </div>

            <div class="username">
              <label for="" id="username" >@lloba</label>

            </div>

          </div>

          <div class="news">
            <label for="">Les nouveautes</label>

            <div class="listNews">

              <div class="new">

              </div>

              <div class="new">

              </div><div class="new">

              </div><div class="new">

              </div><div class="new">

              </div><div class="new">

              </div>

            </div>
          </div>

        </div>
        <div class="secainddiv">
          <div class="avecbg">

          </div>

          <div class="sansbg">

          </div>
        </div>

      </div>

      <div class="secaindpart">

      </div>

    </div>
  </ion-content>


\</ion-content>
