.containt{
  height: 100%;
  padding: 2%;
  display: grid;
  font-family : 'Itim', cursif !important;
  background-color: #ffffff;
  color: #000;
}

.first{
  display: flex;
  flex-direction: column;
}

.first >label{
  display: flex;
  font-size: 5.5vw;
  justify-content: center;
}

.first>#nomJeu{
  font-size: 6vw;
  font-weight: bold;
}

.first >img{
  border-radius: 10px;
  height: 54vh;
  display: flex;
  width: 100%;
  object-fit: cover;
}

#descJeu{
  font-size: 5vw;
  color: #0000005b;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.continues{
  // border: 2px solid #008000;
  border-radius: 5px;
  margin-top: 5%;
  color: rgb(255, 255, 255) ;
  width: 100%;
  --background:#3779FF;
}

.continues :hover{
  --background:none;
}

///compte a rebour
.rebours{
  top: 35%;
  position: absolute;
  margin: auto 20%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 50%);

}

.rebours >label{
  margin: auto;
  display: flex;
  justify-content: center;
}

.rebours> #compter{
  font-size: 50px;
}

.rebours> #patience{
  font-size: 10px;
}



