<!--<ion-header>
  <ion-toolbar>
    <ion-title>conseil</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

  <ion-fab class="newConseil" (click)="Addconseil()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="containt">
    <div class="entete">

      <div class="profilInfos">
        <div></div>
        <div class="profilContenu">
          <div class="image">
            <img src="assets/images/moi.jpg" alt="">
          </div>

          <div class="infosProfil">
            <label for="" id="nomComplet">{{citoyen.nom}}</label>
            <label for="" id="username">@{{citoyen.username}}</label>
          </div>
        </div>
      </div>


      <div class="nbre">
        <div  class="shadow"></div>

        <div class="nbreContenu">

          <label for="" id="textConseil" >20 conseils</label>

        </div>
        <div></div>

      </div>

    </div>

    <div class="listConseils">

      <div class="conseil">
          <div class="tete">
            <div id="circle" [ngStyle]="{'background-color':'green'}"></div>
            <label for="">Entrepreneuriat</label>
          </div>

          <div class="tronc" [ngStyle]="{'background-color':'green'}">

          </div>

          <div class="membre">
            <div class="profilContenu2">
              <div class="image">
                <img src="assets/images/moi.jpg" alt="">
              </div>

              <div class="infosProfil">
                <label for="" id="nomComplet">Ballo Ibrahima</label>
                <label for="" id="username">@lloba</label>
              </div>
            </div>

            <div class="likePart">
              <div class="bdy">
                <i class="fa-solid fa-thumbs-up"></i>
                <label for="">1000</label>
              </div>

            </div>
          </div>
      </div>

      <div class="conseil">
        <div class="tete">
          <div id="circle" [ngStyle]="{'background-color':'green'}"></div>
          <label for="">Entrepreneuriat</label>
        </div>

        <div class="tronc" [ngStyle]="{'background-color':'green'}">

        </div>

        <div class="membre">
          <div class="profilContenu2">
            <div class="image">
              <img src="assets/images/moi.jpg" alt="">
            </div>

            <div class="infosProfil">
              <label for="" id="nomComplet">Ballo Ibrahima</label>
              <label for="" id="username">@lloba</label>
            </div>
          </div>

          <div class="likePart">
            <div class="bdy">
              <i class="fa-solid fa-thumbs-up"></i>
              <label for="">1000</label>
            </div>

          </div>
        </div>
      </div>

      <div class="conseil">
        <div class="tete">
          <div id="circle" [ngStyle]="{'background-color':'green'}"></div>
          <label for="">Entrepreneuriat</label>
        </div>

        <div class="tronc" [ngStyle]="{'background-color':'green'}">

        </div>

        <div class="membre">
          <div class="profilContenu2">
            <div class="image">
              <img src="assets/images/moi.jpg" alt="">
            </div>

            <div class="infosProfil">
              <label for="" id="nomComplet">Ballo Ibrahima</label>
              <label for="" id="username">@lloba</label>
            </div>
          </div>

          <div class="likePart">
            <div class="bdy">
              <i class="fa-solid fa-thumbs-up"></i>
              <label for="">1000</label>
            </div>

          </div>
        </div>
      </div>

      <div class="conseil">
        <div class="tete">
          <div id="circle" [ngStyle]="{'background-color':'green'}"></div>
          <label for="">Entrepreneuriat</label>
        </div>

        <div class="tronc" [ngStyle]="{'background-color':'green'}">

        </div>

        <div class="membre">
          <div class="profilContenu2">
            <div class="image">
              <img src="assets/images/moi.jpg" alt="">
            </div>

            <div class="infosProfil">
              <label for="" id="nomComplet">Ballo Ibrahima</label>
              <label for="" id="username">@lloba</label>
            </div>
          </div>

          <div class="likePart">
            <div class="bdy">
              <i class="fa-solid fa-thumbs-up"></i>
              <label for="">1000</label>
            </div>

          </div>
        </div>
    </div>
    </div>
  </div>
</ion-content>
