.containt{
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  // grid-template-rows: 50% 50%;
  color: black;
  font-family : 'Itim', cursif !important;
}

.entete{
  z-index: 10000;
  height: 110px;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.profilInfos{
  background-color: #fff;
  display: grid;
  color: #fff;
  grid-template-rows: 30% 70%;
  border-bottom-right-radius: 45px;
  box-shadow: 4px 1px 1px rgba(0, 0, 0, 0.513);
}

.nbre{
  display: grid;
  grid-template-rows: 40% 30% 30%;
}

.shadow{
  border-bottom-left-radius: 30px;
  margin-left: -20px;
  background-color: #fff;
}

.nbreContenu{
  display: flex;
  background-color: #008000;
}

#textConseil{
  display: flex;
  font-size: 5vw;
  justify-content: center;
  color: #fff;
  margin: auto;
}

.profilContenu{
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 6%;
  color: #000;

}
.image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.image >img{
  margin: auto;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
}

.infosProfil{
  margin: auto;
  margin-left: 10px;
}

.infosProfil > #nomComplet{
  display: flex;
  justify-content: center;
  font-size: 5vw;
  margin: 0;
}

.infosProfil > #username{
  font-size: 4.5vw;
  margin: 0;
}

/////
.newConseil{
  position: fixed;
  bottom: 12%;
  right: 5%;
}

.newConseil >ion-fab-button{
  --background:#3779FF
}
////list conseils
.listConseils{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x:hidden ;
  margin-bottom: 50px;
  scroll-behavior: smooth;
}

.conseil{
  display: grid;
  height: 60vh;
  margin: 15px auto;

  width: 80vw;

  background-color: #fff;
  border-radius: 30px;
  grid-template-rows: 12% 76% 12%;
}

.conseil >.tete{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

}
.tete > #circle{
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50%;

}

.tete > label{
  margin: auto;
  margin-left: 5px;
}

.conseil >.tronc{

}

.conseil >.membre{
  display: grid;
  grid-template-columns: 67% 33%;

}

///secaind profil
.profilContenu2{
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 2% 0px 0px 8%;
  color: #000;

}
.profilContenu2 >.image{

  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  border: 0.4vw solid black;
  margin: auto;
}

.profilContenu2 >.image >img{
  margin: auto;

  height: 9vw;
  width: 9vw;

  border-radius: 50%;
  object-fit: cover;
  border: 0.5vw solid #fff;
}

.profilContenu2>.infosProfil{
  margin: auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.profilContenu2 >.infosProfil > #nomComplet{
  display: flex;
  justify-content: center;
  font-size: 4vw;
  margin: 0;
}

.profilContenu2 >.infosProfil > #username{
  font-size: 12px;
  margin: 0;
}
///
.likePart{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.likePart >.bdy{
  display: flex;
  font-size: 7vw;
  border-radius: 30px;
  padding: 2px 4px;
  margin: auto;
  flex-direction: column;
}
.bdy >label, .bdy>i{
  display: flex;
  justify-content: center;
  margin: auto;
}
.liked{
  color: #FF0000;

}
.liked >i{
  font-size: 25px;
}

.bdy >label{
  font-size: 10px;
}

#contenuLabel{
  color: #D9D9D9;
  text-align: center;
  margin: auto;
}
