<ion-header class="ion-no-border">
  <ion-toolbar class="header">

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containt">

    <form class="first">

      <label for="" style="font-size: 6vw;">Contenu ...  <span>{{length}}</span></label>

      <div class="bdyDesc">
        <textarea maxlength="150" [ngStyle]="{'background-color':colorChosed}" name="description" [(ngModel)]="description" id="" cols="30" rows="10" ></textarea>
      </div>

      <ion-button type="submit" [ngStyle]="{'--background':colorChosed}"  class="continues"   (click)="Publie()">Commencer</ion-button>


    </form>

    <div class="secaind">
      <div class="listColor">
        <div *ngFor="let color of mesCouleurs" class="color" [ngStyle]="{'background-color':color.couleur}" (click)="changeColor(color.couleur)">
        </div>
      </div>
    </div>

  </div>
</ion-content>
