<!--<ion-header>
  <ion-toolbar>
    <ion-title>gameFinish</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

  <div class="containt">
    <div class="textContent">
      <label for="">Partie</label>
      <label for="">terminée !</label>
    </div>


    <div class="secaind">
      <div class="anim">

      </div>

      <div class="notes">

      </div>

      <div class="btns">

        <ion-button type="submit"  class="continues btn1" >Rejouer</ion-button>
        <ion-button type="submit"  class="continues btn2" >Terminer</ion-button>


      </div>

    </div>
  </div>

</ion-content>
