.containt{
  height: 100%;
  padding: 2%;
  display: grid;
  grid-template-rows:  20% 80%;
  font-family : 'Itim', cursif !important;
  background-color: #3779FF;
  color: rgb(255, 255, 255);
}

.containt >.textContent{
  margin: auto;
}
.containt >.textContent >label{
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

//
.secaind{
  background-color: #FFFFFF;
  margin: 0 2%;
  border-radius: 15px;
  display: grid;
  color: #000;
  grid-template-rows: 28% 49% 23%;
}

////anim
.anim{
  height: 100%;
  width: 50%;
  margin: auto;
  background-color: #fff;
  margin-top: -8%;
  border-radius: 15px;

}

.anim >ng-lottie{
  display: flex;
  height: 100%;
  width: auto;
}
////point part
///
///
.notes{
  display: grid;
  grid-template-rows: 45% 55%;
}

.pointPart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pointPart >ion-progress-bar{
  width: 90%;
  --background:#D9D9D9;
  height: 25px;
  border-radius: 7px;
  --progress-background:#BB7676;
}

.pointPart >#ptrecu{
  color: #FF981F;
  font-size: 20px;
}
.pointPart >#pttotal{

}
.pointPart >#percan{
  color: #BB7676;
  font-size: 13px;

}

///
///
.likePart
.likePart >#minute{
  color: #FF0000;
  font-size: 10px;
}
.likePart >#ttTp{
  font-size: 20px;
  color: #17660B;
}
.likePart >#question{
  font-size: 9px;
}

.likeDislike{
  width: 90%;
  height: 50px;
  display: grid;
  grid-template-columns: 45% 10% 45%;

}

.likeDislike >.dislike{
  margin: auto;
  border: 2px solid #FF0000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.likeDislike >.like{
  margin: auto;
  border: 2px solid #17660B;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.likeDislike >div >i{
  font-size: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.likeDislike >.like >i{
  color: #17660B;
}

.likeDislike >.dislike >i{
  color: #FF0000;
}

.btnlikecliquer{
  background-color: #17660B;

  i{
    color: #fff !important;
  }
}

.btndislikecliquer{
  background-color: #FF0000;

  i{
    color: #fff !important;
  }
}

///


//btns parts

.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn1{
  margin-top: 5%;
  --background:#008000;
  color: rgb(255, 255, 255) ;

}


.btn2{
  color: rgb(0, 0, 0) ;
  --background:#ffffff;
  border: 2px solid #3779FF;

}

.continues{
  // border: 2px solid #008000;
  border-radius: 5px;
  width: 95%;
}

.continues :hover{
  --background:none;
  border-radius: 5px;
}

///compte a rebour
///compte a rebour
.rebours{
  top: 35%;
  position: absolute;
  margin: auto 20%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgb(0 0 0 / 50%);
  z-index: 100;

}

.rebours >label{
  margin: auto;
  display: flex;
  justify-content: center;
}

.rebours> #compter{
  font-size: 50px;
}

.rebours> #patience{
  font-size: 10px;
}

