<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="acceuil">
      <i class="fa-solid fa-house"></i>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jeux">
      <i class="fa-solid fa-gamepad"></i>
      <ion-label>Jeux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conseil">
      <i class="fa-solid fa-lightbulb"></i>
      <ion-label>Conseil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <i class="fa-solid fa-headset"></i>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
