<!--<ion-header>
  <ion-toolbar>
    <ion-title>home1</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="containt">
    <div class="first">
      <img src="/assets/images/logohome1.png" alt="">
    </div>

    <div class="secaind">
      <label for="">Bienvenue !</label>
      <label for="">Apprener en s'amusant .</label>
      <div class="points">
        <p>
          <label id="firstpoint" for="">
            .
          </label>
          <label id="secaindpoint" for="">
            .
          </label>
          <label id="lastpoint" for="">
            .
          </label>
        </p>
      </div>
    </div>

    <div class="last">
      <ion-button shape="round" >
        Continuer
      </ion-button>
    </div>
  </div>
</ion-content>
