<!--<ion-header>
  <ion-toolbar>
    <ion-title>home1</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="containt">
    <div class="first">
      <!--<<ng-lottie [options]="options"></ng-lottie>-->
      <img src="/assets/images/hom1.svg" alt="">
    </div>

    <div class="secaind">
      <label for="" style="font-size: 8vw;">Bienvenue sur E-Tulon!</label>
      <label for="">Prenez soin de l'environnement en s'amusant .</label>
      <div class="points">
        <p>
          <label id="firstpoint" for="">
            .
          </label>
          <label id="secaindpoint" for="">
            .
          </label>
          <label id="lastpoint" for="">
            .
          </label>
        </p>
      </div>
    </div>

    <div class="last">
      <ion-button  (click)="goToNextPage()" >
        Continuer
      </ion-button>
    </div>
  </div>
</ion-content>
