<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-title>play</ion-title>
    <ion-buttons slot="start" (click)="stopGame()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--affichenge apres la reponse-->
  <div class="success" *ngIf="showSuccess">
    <label for="">+{{Pointgagne}} points</label>
    <ng-lottie [options]="success"></ng-lottie>
  </div>

  <div class="echec" *ngIf="showError">
    <ng-lottie [options]="echec"></ng-lottie>
  </div>


  <div class="containt">
    <div class="entete">
      <label for="" id="titreQuestion">Question {{currentQuiz+1}}/{{quizList.length}}</label>

      <ion-progress-bar [value]="quizValue" ></ion-progress-bar>

      <div class="question">
        <div class="card" [ngStyle]="{'border':'2px solid '+borderColor}" >
          <div class="contenu" *ngIf="quizList[currentQuiz].type==='TEXT' ">
            <label for="" >
              {{quizList[currentQuiz].contenu}}
            </label>

          </div>
          <div class="contenu" *ngIf="quizList[currentQuiz].type==='PHOTO'">
            <img [src]="quizList[currentQuiz].lien" alt="">
          </div>

          <audio
                  #player
                  [src]="quizList[currentQuiz].lien">
          </audio>

          <div class="contenu" *ngIf="quizList[currentQuiz].type==='AUDIO'">

            <div class="audio" >

              <ion-range [ngStyle]="{'background-color':borderColor}"
                  min="0" [pin]="true"
                  [max]="duration"
                  [value]="currentTime"
                  (ionChange)="seek($event)"
                  color="light">
                  <ion-label color="light" slot="start">{{ currentTimeText }}</ion-label>
                  <ion-label color="light" slot="end">{{ durationText }}</ion-label>
              </ion-range>

              <div class="ion-text-center">
                <ion-button class="player" (click)="play()" size="large" fill="clear" color="light">
                    <ng-container *ngIf="isLoading; else loaded">
                      <img src="assets/images/spinner.svg" alt="">
                    </ng-container>

                    <ng-template #loaded>
                      <i *ngIf="isPlaying" class="fa-solid fa-pause"></i>
                      <i  *ngIf="!isPlaying" class="fa-solid fa-play"></i>
                    </ng-template>
                </ion-button>
              </div>


            </div>
          </div>
          <div class="contenu" *ngIf="quizList[currentQuiz].type==='VIDEO'"></div>

        </div>
      </div>
    </div>

    <div *ngIf="quizList[currentQuiz].reponses.length===4" class="answer4 answerList">
      <div class="reponse reponse1" (click)="giveAwnswer(1)" [ngStyle]="{'background-color':CadresCouleurs[0].couleur}">
        <label *ngIf="quizList[currentQuiz].reponses[0].type==='TEXT'" for="">{{quizList[currentQuiz].reponses[0].contenu}}</label>
        <img *ngIf="quizList[currentQuiz].reponses[0].type==='PHOTO'" src="assets/images/moi.jpg" alt="">
      </div>
      <div class="reponse reponse2" (click)="giveAwnswer(2)" [ngStyle]="{'background-color':CadresCouleurs[1].couleur}">
        <label *ngIf="quizList[currentQuiz].reponses[0].type==='TEXT'" for="">{{quizList[currentQuiz].reponses[1].contenu}}</label>
        <img *ngIf="quizList[currentQuiz].reponses[1].type==='PHOTO'" src="assets/images/moi.jpg" alt="">

      </div>
      <div class="reponse reponse3" (click)="giveAwnswer(3)" [ngStyle]="{'background-color':CadresCouleurs[2].couleur}">
        <label *ngIf="quizList[currentQuiz].reponses[2].type==='TEXT'" for="">{{quizList[currentQuiz].reponses[2].contenu}}</label>
        <img *ngIf="quizList[currentQuiz].reponses[0].type==='PHOTO'" src="assets/images/moi.jpg" alt="">

      </div>
      <div class="reponse reponse4" (click)="giveAwnswer(4)" [ngStyle]="{'background-color':CadresCouleurs[3].couleur}">
        <label *ngIf="quizList[currentQuiz].reponses[2].type==='TEXT'" for="">{{quizList[currentQuiz].reponses[3].contenu}}</label>
        <img *ngIf="quizList[currentQuiz].reponses[0].type==='PHOTO'" src="assets/images/moi.jpg" alt="">

      </div>
    </div>

    <div *ngIf="quizList[currentQuiz].reponses.length===2" class="answer2 answerList">
      <div class="reponse reponse1" (click)="giveAwnswer(1)">
        <label *ngIf="quizList[currentQuiz].reponses[0].type==='TEXT'" for="">{{quizList[currentQuiz].reponses[0].contenu}}</label>
        <img *ngIf="quizList[currentQuiz].reponses[0].type==='PHOTO'" src="assets/images/moi.jpg" alt="">

      </div>
      <div class="reponse reponse3" (click)="giveAwnswer(2)">
        <label *ngIf="quizList[currentQuiz].reponses[1].type==='TEXT'" for="">{{quizList[currentQuiz].reponses[1].contenu}}</label>
        <img *ngIf="quizList[currentQuiz].reponses[0].type==='PHOTO'" src="assets/images/moi.jpg" alt="">

      </div>
    </div>

  </div>
</ion-content>
