<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-title>play</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containt">
    <div class="entete">
      <label for="" id="titreQuestion">Question 1/10</label>

      <ion-progress-bar [value]="quizValue" ></ion-progress-bar>

      <div class="question">
        <div class="card" [ngStyle]="{'border':'2px solid '+borderColor}" >
          <div class="contenu" *ngIf="isText">
            <label for="" >
              lorem ipsu lorem ipsu lorem ipsulorem ipsulorem ipsulorem ipsulorem ipsulorem ipsululorem i
            </label>

          </div>
          <div class="contenu" *ngIf="isPhoto">
            <img src="assets/images/moi.jpg" alt="">
          </div>

          <div class="contenu" *ngIf="isAudio">
            <div class="audio" >

              <audio
                  #player
                  src="http://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3">
              </audio>


            <ion-range [ngStyle]="{'background-color':borderColor}"
                min="0" [pin]="true"
                [max]="duration"
                [value]="currentTime"
                (ionChange)="seek($event)"
                color="light">
                <ion-label color="light" slot="start">{{ currentTimeText }}</ion-label>
                <ion-label color="light" slot="end">{{ durationText }}</ion-label>
            </ion-range>

            <div class="ion-text-center">
              <ion-button class="player" (click)="play()" size="large" fill="clear" color="light">
                  <ng-container *ngIf="isLoading; else loaded">
                    <img src="assets/images/spinner.svg" alt="">
                  </ng-container>

                  <ng-template #loaded>
                    <i *ngIf="isPlaying" class="fa-solid fa-pause"></i>
                    <i  *ngIf="!isPlaying" class="fa-solid fa-play"></i>
                  </ng-template>
              </ion-button>
          </div>


            </div>
          </div>
          <div class="contenu" *ngIf="isVideo"></div>

        </div>
      </div>
    </div>

    <div *ngIf="is4" class="answer4 answerList">
      <div class="reponse reponse1"></div>
      <div class="reponse reponse2"></div>
      <div class="reponse reponse3"></div>
      <div class="reponse reponse4"></div>
    </div>

    <div *ngIf="is2" class="answer2 answerList">
      <div class="reponse reponse1">

      </div>
      <div class="reponse reponse3"></div>
    </div>

  </div>
</ion-content>
