<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>game1</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="containt">
    <div class="first">
      <img src="assets/images/moi.jpg" alt="">

      <div class="desc">
        <label for="" id="descJeu">
          lorem ipsu lorem ipsu lorem ipsulorem ipsulorem ipsulorem ipsulorem ipsulorem ipsululorem i
          ipsulorem ipsulorem ipsulorem ipsulorem ipsulorem ipsululor
        </label>
      </div>
    </div>

    <div class="secaind">
      <label for="">Liste des niveaux</label>

      <div class="listNiveau">
        <div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">
            <label for="" id="text"></label>
            <label for="" id="libelleNiveau"></label>
          </div>
        </div>

        <div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">

          </div>
        </div><div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">

          </div>
        </div><div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">

          </div>
        </div><div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">

          </div>
        </div>
      </div>

    </div>

  </div>

</ion-content>
