.containt{
  height: 100%;
  padding: 2%;
  display: grid;
  grid-template-rows: 75% 25%;
  font-family : 'Itim', cursif !important;
  background-color: #ffffff;
  color: #000;
}

.first{
  display: grid;
  grid-template-rows: 85% 15%;
}

.first >img{
  border-radius: 10px;
  height: -webkit-fill-available;
  display: flex;
  width: 100%;
  object-fit: cover;
}

#descJeu{
  font-size: 12px;
  color: #0000005b;
  display: flex;
  flex-direction: column;
  text-align: center;
}

///
///
.secaind{
  display: grid;
  grid-template-rows: 14% 80%;
}
.secaind >label{
  font-size: 20px;
  margin-left: 10px;
}
.listNiveau{
  margin-top: 10px;
  display: -webkit-inline-box;
  overflow-y: unset;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.niveau{
  width: 200px;
  height: 85px;
  margin-left: 10px;
  padding: 2%;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.niveau >img{
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.descniveau{
  display: grid;
  grid-template-rows:15% 45% 35%;
}

.descniveau >#text{
  font-size: 9px;
  color: #00000091;
  display: flex;
  flex-direction: column;
}

.descniveau >#libelleNiveau{
  font-size: 15xpx;

}
