<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>game1</ion-title> -->
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="containt">
    <div class="first">
      <img src="{{imageJeu}}" alt="">

      <div class="desc">
        <label for="" id="descJeu">
          {{descriptionJeu}}
        </label>
      </div>
    </div>

    <div class="secaind">
      <label for="">Liste des niveaux</label>

       <!--[routerLink]="['/game1',jeu.id]"-->
      <div class="listNiveau">
        <div class="niveau" [routerLink]="['/game2',level.id]"   *ngFor="let level of ListNiveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="descniveau">
            <div></div>
            <label for="" id="text">
              {{level.description}}
            </label>
            <label for="" id="libelleNiveau">{{level.libelle}}</label>
          </div>
        </div>

        <div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">

          </div>
        </div><div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">

          </div>
        </div><div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">

          </div>
        </div><div class="niveau">
          <img src="assets/images/moi.jpg" alt="">
          <div class="desc">

          </div>
        </div>
      </div>

    </div>

  </div>

</ion-content>
