<ion-header>
  <ion-toolbar>
    <ion-title>newConseil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="text">
      <i class="fa-solid fa-input-text"></i>
      <!--<ion-label>Acceuil</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="photo">
      <i class="fa-solid fa-image"></i>
      <!--<ion-label>Jeux</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="video">
      <i class="fa-solid fa-video"></i>
      <!--<ion-label>Conseil</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="vocal">
      <i class="fa-solid fa-globe-stand"></i>
      <!--<ion-label>Profil</ion-label>-->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

