<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-title>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Choisir une problematique" interface="action-sheet" mode="ios" (ionChange)="changeProblematique($event)" cancelText="Annuler" >
            <ion-select-option *ngFor="let item of problematiques" [value]="item.id">{{item.libelle}}</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-list>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="text">
      <i class="fa-solid fa-pen-to-square"></i>
      <!--<ion-label>Acceuil</ion-label>-->
    </ion-tab-button>

    <ion-tab-button (click)="presentPhotoActionSheet()">
      <i class="fa-solid fa-camera"></i>
      <!--<ion-label>Jeux</ion-label>-->
    </ion-tab-button>

    <!--<ion-tab-button tab="video">
      <i class="fa-solid fa-video"></i>
      <!-<ion-label>Conseil</ion-label>->
    </ion-tab-button>-->

    <ion-tab-button tab="vocal">
      <i class="fa-sharp fa-solid fa-microphone"></i>
      <!--<ion-label>Profil</ion-label>-->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

