<!--<ion-header>
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="containt">

    <div class="bg">

    </div>

    <div class="infosProfil">
      <div class="cloche" (click)="notifPage()">
        <i class="fa-regular fa-bell"></i>
      </div>

      <div class="tofName">
        <div class="photo">
          <img src="assets/images/moi.jpg" alt="">

        </div>

        <div class="username">
          <label for="" id="nomComplet" >Ballo Ibrahima</label>
          <label for="" id="username" >@lloba</label>
        </div>
      </div>

      <div class="edit" (click)="goEdit()">
        <i class="fa-solid fa-user-pen"></i>
      </div>
    </div>

    <div class="infosCompte">
      <div class="ptConseil">

        <div class="tulonPoint">

          <div id="nombre">
            <label for="" id="number" >2000</label>
            <label for="" id="name" >Tulon Point</label>
          </div>

          <div id="imgpt">
            <img src="assets/images/Tulon Point.png" alt="" srcset="">
          </div>
        </div>

        <div class="conseil">
          <div id="nombre">
            <label for="" id="number" >200</label>
            <label for="" id="name" >Conseils</label>
          </div>

          <div id="imgpt">
            <img src="assets/images/conseil.png" alt="" srcset="">

          </div>
        </div>

      </div>

      <div class="nmbre">

        <div class="gamePlayed">
          <div id="nombre">
            <label for="" id="number" >20</label>
            <label for="" id="name" >Jeux joues</label>

          </div>

          <div id="imgpt">
            <img src="assets/images/jeux.png" alt="" srcset="">
          </div>
        </div>

        <div class="timePlayed">
          <div id="nombre">
            <label for="" id="number" >120</label>
            <label for="" id="name" >Minutes joues</label>
          </div>

          <div id="imgpt">
            <img src="assets/images/time.png" alt="" srcset="">

          </div>
        </div>
      </div>


    </div>

    <hr>
    <label for="" id="labelLast">Mes derniers jeux</label>

    <div class="listLastGame">

      <div class="game" (click)="Play()">
        <div class="imageGame">
          <img src="assets/images/moi.jpg" alt="">
        </div>

        <div class="infosPlay">
          <div></div>

          <div class="nomGame">
            <label for="">Game Name</label>

          </div>

          <div id="likePlay">
            <button class="liked">
              2500
              <i class="fa-solid fa-thumbs-up"></i>
            </button>

            <button class="played">
              500
              <i class="fa-sharp fa-solid fa-circle-play"></i>
            </button>
          </div>
        </div>

        <div class="btnPlay">
          <button id="goPlay">
            Jouer
          </button>
        </div>
      </div>

      <div class="game">
        <div class="imageGame">
          <img src="assets/images/moi.jpg" alt="">
        </div>

        <div class="infosPlay">
          <div></div>

          <div class="nomGame">
            <label for="">Game Name</label>

          </div>

          <div id="likePlay">
            <button class="liked">
              2500
              <i class="fa-solid fa-thumbs-up"></i>
            </button>

            <button class="played">
              500
              <i class="fa-sharp fa-solid fa-circle-play"></i>
            </button>
          </div>
        </div>

        <div class="btnPlay">
          <button id="goPlay">
            Jouer
          </button>
        </div>
      </div>

      <div class="game">
        <div class="imageGame">
          <img src="assets/images/moi.jpg" alt="">
        </div>

        <div class="infosPlay">
          <div></div>

          <div class="nomGame">
            <label for="">Game Name</label>

          </div>

          <div id="likePlay">
            <button class="liked">
              2500
              <i class="fa-solid fa-thumbs-up"></i>
            </button>

            <button class="played">
              500
              <i class="fa-sharp fa-solid fa-circle-play"></i>
            </button>
          </div>
        </div>

        <div class="btnPlay">
          <button id="goPlay">
            Jouer
          </button>
        </div>
      </div>

      <div class="game">
        <div class="imageGame">
          <img src="assets/images/moi.jpg" alt="">
        </div>

        <div class="infosPlay">
          <div></div>

          <div class="nomGame">
            <label for="">Game Name</label>

          </div>

          <div id="likePlay">
            <button class="liked">
              2500
              <i class="fa-solid fa-thumbs-up"></i>
            </button>

            <button class="played">
              500
              <i class="fa-sharp fa-solid fa-circle-play"></i>
            </button>
          </div>
        </div>

        <div class="btnPlay">
          <button id="goPlay">
            Jouer
          </button>
        </div>
      </div>

      <div class="game">
        <div class="imageGame">
          <img src="assets/images/moi.jpg" alt="">
        </div>

        <div class="infosPlay">
          <div></div>

          <div class="nomGame">
            <label for="">Game Name</label>

          </div>

          <div id="likePlay">
            <button class="liked">
              2500
              <i class="fa-solid fa-thumbs-up"></i>
            </button>

            <button class="played">
              500
              <i class="fa-sharp fa-solid fa-circle-play"></i>
            </button>
          </div>
        </div>

        <div class="btnPlay">
          <button id="goPlay">
            Jouer
          </button>
        </div>
      </div>


      <div class="game">
        <div class="imageGame">
          <img src="assets/images/moi.jpg" alt="">
        </div>

        <div class="infosPlay">
          <div></div>

          <div class="nomGame">
            <label for="">Game Name</label>

          </div>

          <div id="likePlay">
            <button class="liked">
              2500
              <i class="fa-solid fa-thumbs-up"></i>
            </button>

            <button class="played">
              500
              <i class="fa-sharp fa-solid fa-circle-play"></i>
            </button>
          </div>
        </div>

        <div class="btnPlay">
          <button id="goPlay">
            Jouer
          </button>
        </div>
      </div>

    </div>

  </div>

</ion-content>
